@model AnkkBoard.Web.Models.VM.TaskViewModel

@using (Html.BeginForm("EditTask", "Home", FormMethod.Post, new { @class = "form-horizontal form-label-left", style = "margin-top: 30px" }))
{
   <div class="row">
       @Html.HiddenFor(m => m.TaskStatus)
       @Html.EditorForModel()
   </div>

    <div class="form-group text-center">
        <button id="save-changes-btn" type="submit" class="btn btn-primary">Save changes</button>
    </div>
}
